body{
    margin: 0px;
    background-color: rgb(0, 0, 150);
    padding: 0px;
}

/* header */
.header {
    background-color: rgb(0, 0, 150);
}
.header h1 {
    font-size: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}
.bagian-atas {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

    #rekap {
        display: flex;
        justify-content: center;
        background-color: rgb(255, 225, 32);
        height: 100px;
        width: 30%;
        text-align: center;
        align-items: center;
        text-decoration: none;
    }
    #rekap:hover{
        background-color: rgb(255, 244, 174);
    }
        #rekap a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }

    .pem-peng {
        height: 100px;
        width: 35%;
        background-color: aliceblue;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30pxs;
    }


.bag-tengah {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}
    .keg-terbaru {
        background-color: rgb(0, 0, 239);
        color: white;
        padding: 5px;
        padding-right: 200px;
        border-radius: 10px;
    }

    .pp-terbaru {
        background-color: rgb(255, 221, 0);
        padding: 10px;
        padding-left: 5px;
        padding-right: 10px;
        border-radius: 15px;
    }
    #tmbhbrg {
        background-color: rgb(255, 221, 0);
        padding: 18px;
        border-radius: 10px;
    }
    #tmbhbrg a {
        padding: 10px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    #tmbhbrg:hover {
        background-color: rgb(255, 244, 174);
        text-decoration: underline;
    }

/* pemasukan pengeluaran terbaru */
.bag-tengah2 { 
    background-color: rgb(0, 0, 65);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}
    #mencari {
        color: white;
    }

/* katalog-katalog */
.katalogs {
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}
    .katalog {
        height: 200px;
        width: 200px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 3px solid rgb(255, 221, 0);
    }
        .katalog:hover {
            background-color: rgb(255, 221, 0);
        }

        .katalog a {
            text-decoration: none;
            color: black;
        }

        #teks_katalog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        }

        .katalog img {
            width: 130px;
            height: 130px;
            align-items: center;
        }

.footer {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* isi katalog */
.bodykatalog {
    background-color: rgb(255, 221, 0);
    margin: 50px;

}
    .keterangan {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .keterangan img {
        width: 350px;
        height: 350px;
    }
    .keterangan h1 {
        font-size: 50px;
    }
    .keterangan p {
        font-size: 35px;
    }

